:root {
  --main-colour: #3D3D3D;
  --highlight-colour: #0D0D0D;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  width: 70%;
  max-width: 900px;
  margin: auto;
  color: var(--main-colour);
  padding: 20px 0;
  min-width: 300px;
}

h1, h2, h3, h4, h5, h6, b {
  color: var(--highlight-colour)
}

h1 {
  text-align: center;
}

#logo-container {
  display: flex;
  justify-content: center;
}

#logo {
  width: 100%;
  margin: auto;
  max-width: 250px;
  border-radius: 50%;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon-row a svg {
  width: 4.5rem;
  fill: var(--main-colour);
  transition: fill .3s ease;
  margin: 10px 20px;
}

.icon-row a svg:hover {
  fill: var(--highlight-colour);
}

.heart {
  color: red;
}

footer {
  text-align: center;
  margin-top: 1rem;
  border-top: 2px solid var(--main-colour);
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    padding: 20px;
  }

  .intro {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
