@font-face {
    font-family: 'LeagueGothic';
    src: url('leaguegothic-regular-webfont.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 37, 48);
    color: white;
}

a {
    color: rgb(20, 70, 255);
}

a:hover {
    color: rgb(0, 255, 51);
}


.content {
    font-family: 'LeagueGothic';
    margin: 30vh auto 0;
    text-align: center;
    font-size: 4em;
    padding: 0 10vw;
}

.header {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 100%;
    padding: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.footer {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}
