@font-face {
    font-family: 'LeagueGothic';
    src: url('leaguegothic-regular-webfont.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    text-align: center;
    padding: 50px;
}

.dark {
    background-color: rgb(33, 37, 48);
}

.dark a {
    color: rgb(20, 70, 255);
}

.light {
    background-color: rgb(20, 70, 255);
}

.light a {
    color: rgb(33, 37, 48);
}

a:hover {
    color: rgb(0, 255, 51);
}

.big {
    height: 100vh;
    min-width: 480px;
}

.quote {
    font-family: 'Georgia', serif;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    padding: 50px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.projects-container {
    font-size: 1.2em;
    width: 80%;
    padding-top: 10%;
    margin: auto;
}

.project {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 20px;
}
